.self_info_container {
    position: absolute;
    z-index: 10;
    margin: 0;
    content: "";
    top: 60%;
    left: 0;
    width: 100%;
    height: 50%;
    background: #AAAAAA;
    clip-path: polygon(0 25%, 0%  100%, 100% 100%, 100% 0%);
}

/*somewhere else */
.side_bar {
    float: left;
    color:  darkred;
    background-color: pink;
    height: 99vh;
    width: 10%;
    margin: .5%;
}

.content_view {
    float: left;
    background-color: lightblue;
    color: darkblue;
    height: 99vh;
    width: 88%;
    margin-top: .5%;
    margin-bottom: .5%;
    margin-right: .5%;
}

