.self_info_container {
    position: absolute;
    z-index: 1;
    content: "";
    top: 70%;
    left: 0;
    width: 100%;
    background-color: transparent;
    animation: slide_up 2s;
}

@media only screen and (max-width: 960px){
    .self_info_container {
        top: 100%;
        animation: none; 
    }
}

@keyframes slide_up {
    0% {
        opacity: 0;
        top: 200%;
    }
    50% {
        opacity: 0;
    }
    50.25% { 
        opacity: 1;
    }
    100% {
        top: 70%;
    }
}

body {
    animation: no_scroll 2s; 
}

@keyframes no_scroll {
    0% {
        overflow-y: hidden;
    }
    99.9% {
        overflow-y: hidden;
    }
    100% {
        overflow-y: show;
    }
}
