.html{
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}
.body {
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}
.App {
  margin: 0px;
  padding: 0px;
}
.main_container {
  width: 100%;
  background-color: #101010;
}
.main_background {
  background-color: black;
  border-left: 2px solid lime;
  border-right: 2px solid lime;
  margin-left: 10%;
  margin-right: 10%;
}