.contact_component {
    background-color: #FBD9B1;
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 25px;
}
.contact_section_title {
    font-family: "Consolas", "Courier New", "monospace";
    text-decoration: underline;
    font-size: 32px;
}
.contact_description {
    font-family: "Consolas", "Courier New", "monospace";
    margin-bottom: 10px;
}

.email_box_background {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #FBD2A3;
    background-color: #FBD2A3;
    max-width: 700px;
}
.email_box {
    background-color: #FACB94;;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    overflow: hidden;
}


.text_input {
    position: relative;
    background-color: #E0B582;
    color: #211602;
    font-family: "Consolas", "Courier New", "monospace";
    font-size: 16px;
    border: 0px solid black;
    margin-top: 5px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%
}
.text_input:focus {
    outline: none;
}


.name_field {
    margin-top: 25px;
}

.message_field {
    resize: none;
    min-height: 300px;
}
.submit_button {
    background-color: #E0B582;
    color: #211602;
    margin-top: 10px;
    margin-bottom: 25px;
    font-family: "Consolas", "Courier New", "monospace";
    border: 1px solid #211602;
}