.description_component {
    background-color: #574945;
    content: "";
    width: 100%;
}

.description_box {
    background-color: #777777;
    overflow: hidden;
    padding-bottom: 10px;
}

.heading {
    padding-top: 10px;
    font-size: 32px;
    font-weight: 750;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    text-decoration: underline;
}

.head_shot_image {
    margin: 25px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #574945
}

.palette_image {
    margin: 25px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #574945
}

.palette_image_2 {
    display: none;
    border: 5px solid #574945
}

.ucsd_geisel {
    margin: 25px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #574945;
    margin-bottom: 10px;
}

.description {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 18px;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.link {
    color: rgb(202, 202, 255);
}

.link:hover {
    font-weight: 1000;
}

.spacer {
    position: relative;
    height: 10px;
}

@media only screen and (min-width: 360px) {

    .head_shot_image {
        width: 180px;
        float: left;
        margin-right: 10px;
        margin-left: 5px;
    }

    .palette_image {
        width: 150px;
        float: right;
        margin-right: 5px;
        margin-left: 10px;
    }

    .ucsd_geisel {
        float: left;
        width:  180px;
        margin-right: 10px;
        margin-left: 5px;
    }

}

@media only screen and (min-width: 470px) {
    .head_shot_image {
        margin-left: 10%;
        width: 20%;
    }
}

@media only screen and (min-width: 600px) {
    .head_shot_image {
        margin-left: 5%;
        width: 10%;
    }
}


/* this is the one where we switch from being horiozonatlly stacked to verically stacked*/
@media only screen and (min-width: 700px) {
    .description_component {
        overflow: hidden;
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .description_box {
        position: relative;
        float: left;
        width: 32%;
    }
    .head_shot_image {
        float: none;
        margin: 25px;
        width: 190px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .palette_image {
        display: none;
    }
    .palette_image_2 {
        float: none;
        margin: 25px;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .ucsd_geisel {
        float: none;
        margin: 25px;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .spacer {
        position: relative;
        float: left;
        content: "";
        width: 1%;
        height: 10px;
    }
}