.description_component {
    background-color: black;
    content: "";
    width: 100%;
    margin-bottom: 10%;
}
.description_section_title {
    text-align: center;
    color: white;
    font-family: HeadingFont ;
    margin: 15px;
    margin-left: 25px;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 100;

    text-decoration: underline;
}
.description_content_container {
    display: block;
}
.description_button_container {
    position: relative;
    flex: 1;
    justify-content: space-evenly;
    display: flex;
    position: relative;
}

.description_button {
    /*description here*/
    position: relative;
    color: white;
    font-family: "Consolas", "Courier New", "monospace";
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lime;
    border: 2px solid white;
}
.description_button:hover .button_text {
    color: lime;
}
.description_button:focus {
    border: 2px solid lime;
}
.rounded_description_bar {
    position: absolute;
    top: 100%;
    right: 0;
    margin-left: 25px;
    margin-right: 25px;
    width: calc(100% - 50px);
    height: 2px;
    border-radius: 5px;
    content: "";
    background-color: lime;
    transform: scaleX(0) ;
    transition: all 250ms linear;
    transition-delay: 0ms;
}
.about_bar {
    transform-origin: left;
}
.school_bar {
    transform-origin: right;
}
.description_button:focus + .about_bar {
    transform: scaleX(1);
    transition-delay: 500ms;
}
.description_button:focus + .school_bar {
    transform: scaleX(1);
    transition-delay: 500ms;
}
.button_text {
    position: relative;
    z-index: 2;
    color: white;
}
.description_button_background {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: all 250ms linear;
}
.description_button:focus .button_text {
    color: black;
}
.description_button:focus .description_button_background {
    transform: scale(0,0) ;
}
.button_border { /*FIGURE OUT TEXT SHOWING UP*/
    background-color: lime;
    position: absolute;
    content: "";
    transform: scale(1, 1);
    transition: all 100ms linear;
}
.top {
    left: 0%;
    top: 0%;
    transform: translate(-2px, -2px) scaleX(0);
    height: 2px;
    width: calc(100% + 2px);
    transform-origin: center left;
    transition-delay: 300ms;
}
.right {
    left: 100%;
    top: 0%;
    transform: translate(0px, -2px) scaleY(0);
    height: calc(100% + 2px);
    width: 2px;
    transform-origin: top center;
    transition-delay: 200ms;
}
.bot {
    left: 0%;
    top: 100%;
    width: calc(100% + 2px);
    transform: scaleX(0);
    height: 2px;
    transform-origin: center right;
    transition-delay: 100ms;
}
.left {
    top: 0%;
    left: 0%;
    width: 2px;
    height: calc(100% + 2px);
    transform: translate(-2px, 0px) scaleY(0);
    transform-origin: bottom center;
    transition-delay: 0ms;
}
.description_button:hover .top {
    transform: translate(-2px, -2px) scaleX(1);
    transition-delay: 0ms;
}
.description_button:hover .right {
    transform: translate(0px, -2px) scaleY(1);
    transition-delay: 100ms;
}
.description_button:hover .bot {
    transform: scaleX(1);
    transition-delay: 200ms;
}
.description_button:hover .left {
    transform: translate(-2px, 0px) scaleY(1);
    transition-delay: 300ms;
}
.description_text_container {
    flex: 3;
    overflow: hidden;
    margin-left: 25px;
    margin-right: 25px;
}
.description_box {
    background-color: black;
    overflow: hidden;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.description {
    font-family: "Consolas", "Courier New", "monospace";
    text-align: left;
    font-size: 18px;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.link {
    color: lime;
}

.link:hover {
    font-weight: 1000;
}
.spacer {
    position: relative;
    height: 10px;
}

@media only screen and (min-width: 700px){
    .description_button_container {
        margin-left: 10%;
        margin-right: 10%;
    }
    .description_text_container {
        margin-left: 10%;
        margin-right: 10%;
    }
    .description_section_title {
        text-align: left;
        text-decoration: none;
        font-size: 48px;
    }
    
}

/* this is the one where we switch from being horiozonatlly stacked to verically stacked*/
/* @media only screen and (min-width: 700px) {
    .description_component {
        overflow: hidden;
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .description_section_title {
        text-align: left;
        text-decoration: none;
        font-size: 48px;
    }
    .description_content_container {
        display: flex;
    }
    .description_button_container {
        display: block;
        position: relative;
    }
    .description_text_container {
        min-height: 200px;
    }
    .rounded_description_bar {
        top: 0%;
        margin: 0px;
        height: 100%;
        width: 2px;
        transform: scaleX(1) scaleY(0);
    }
    .about_bar {
        transform-origin: top;
    }
    .school_bar {
        transform-origin: bottom;
    }
    .description_button:focus + .about_bar {
        transform: scaleX(1);
        transition-delay: 500ms;
    }
    .description_button:focus + .school_bar {
        transform: scaleX(1);
        transition-delay: 500ms;
    }
    .description_button {
        position: absolute;
    }
    .about {
        top: 0%;
        right: 10px;
    }
    .school {
        bottom: 0%;
        right: 10px;
        margin-bottom: 0px;
    }
    .spacer {
        position: relative;
        float: left;
        content: "";
        width: 1%;
        height: 10px;
    }
} */