.project_component {
    background-color: #DDDDE6;
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
}

.project_section_title {
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 38px;
    font-weight: 900;
    text-decoration: underline;
    color: #000050;
}

.BiasML {
    position: relative;
    display: block;
    background-color: rgb(177, 201, 223);
    padding-top: 1px;
    padding-bottom: 10px;
    margin: 20px;
    max-width: 950px;
    overflow: hidden;
    /* min-height: 300px; */
    /* max-width: 800px; */
    /* margin-top: 5px;
    margin-bottom: 10px; */
}
.BiasML_SSerafin {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(12px, -12px);
}
.BiasML_SSerafin:hover {
    transform: translate(0px, 0px);
}

.RateMyLease {
    position: relative;
    display: block;
    background-color: rgb(177, 201, 223);
    padding-top: 1px;
    padding-bottom: 10px;
    margin: 20px;
    max-width: 950px;
    overflow: hidden;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}
.RateMyLease_JChoe {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(12px, 12px);
}
.RateMyLease_JChoe:hover { 
    transform: translate(0px, 0px);
}

.WorkoutApp {
    position: relative;
    display: block;
    background-color: rgb(177, 201, 223);
    padding-top: 1px;
    padding-bottom: 10px;
    margin: 20px;
    max-width: 950px;
    overflow: hidden;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}
.WorkoutApp_Icon {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(12px, -12px);
}
.WorkoutApp_Icon:hover {
    transform: translate(0px, 0px);
}

.project_heading {
    margin-top: 10px;
    position: relative;
    z-index: 3;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-decoration: underline;
    color: #000050;
    font-weight: 1000;
}
.project_animated_background {
    position: absolute;
    z-index: 2;
    content: "";
    top: 0%;
    height: 100%;
    width: 0%;
    background-color: rgb(137, 173, 206);
    transition: width 250ms ease-in;
}
.BiasML:hover .project_animated_background {
    z-index: 2;
    width: 100%;
}
.RateMyLease:hover .project_animated_background {
    z-index: 2;
    width: 100%;
}
.WorkoutApp:hover .project_animated_background {
    z-index: 2;
    width: 100%;
}
.project_image_container {
    background-color: #DDDDE6;
    position: relative;
    z-index: 3;
    width: 200px;
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border:  5px solid #DDDDE6;
}
.project_description {
    display: block;
    position: relative;
    z-index: 3;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 10px;
    margin-right: 25px;
    color: #000050;
}

@media only screen and (min-width: 950px) {
    .BiasML {
        max-width: 950px;
    }
    .project_image_container {
        float: left;
        margin-left: 25px;
        margin-right: 25px;
    }
    .project_description {
        float: right;
        width: 600px;
        text-align: left
        ;
    }
}